<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>
        <img src="assets/imagenes/iconos/maps.png" alt="Mapa" />
        Dirección:
      </h3>
      <p>
        Palacio de Eventos<br />
        Calle Ejemplo 123, Sevilla España
      </p>
    </div>

    <div class="footer-section">
      <h3>
        <img src="assets/imagenes/iconos/phone.png" alt="Teléfono" />
        Teléfono:
      </h3>
      <p>+34 123 456 789</p>

      <h3>
        <img src="assets/imagenes/iconos/mail.png" alt="Correo" />
        Correo electrónico:
      </h3>
      <p>info@palaciodeeventos.com</p>
    </div>

    <div class="footer-section">
      <div class="footer-map">
        <img src="assets/imagenes/mapa.png" alt="Mapa" />
      </div>
    </div>
  </div>
</footer>