<header>
  <div class="header-container">
    <div class="logo">
      <img src="assets/imagenes/iconos/logo-transparent-png.png" alt="Logo" />
      <span class="logo-text">Palacio de Eventos</span>
    </div>

    <a routerLink="/login" class="user-menu">
      <img src="assets/imagenes/iconos/user.png" alt="Usuario" />
    </a>
  </div>
</header>

<nav>
  <div class="nav-container">
    <a routerLink="/">PÁGINA PRINCIPAL</a>
    <a routerLink="/informacion-general">INFORMACIÓN GENERAL</a>
    <a routerLink="/reservas">RESERVAS</a>
    <a routerLink="/galeria">GALERÍA</a>
  </div>
</nav>


